@import url("./root.css");

.header_main{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_main h1{
    font-size: 1em;
    padding: 1em;
}

.header_main form input{
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid black;
    border-radius: 5px;
}
.header_main form input::placeholder{
    color: black;
}